html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;                
    background-color: bisque;
}

a {
    text-decoration: none;
}

a:link {
    color:red;
}

a:visited {
    color: brown;
}

a:hover {
    color:blue;
}

.navigation {
    height: 30px;
    text-align: center;
}

.navigation li {
    width: 100px;
    font-weight: bold;
    display: inline-block;
}

.main p {
    text-align: justify;
}

.article li {
    height: 160px;
    list-style-type: none;
}

.article img {
    border: 1px solid #4e4e4e;    
    width: 100px;
    height: 100px;
}

.imageArticle {
    width: 20%;
    height: 150px;
    text-align: center;
    vertical-align: top;
    overflow: hidden;
    display: inline-block;
}

.contentArticle {
    width: 75%;
    height: 150px;
    vertical-align: top;
    display: inline-block;
}

.footer {
    font-size: small;
    font-style: italic;
    text-align: center;
}

#Desktop, .desktopExamples {
    color: darkred;
}

#Web, .webExamples {
    color:rgb(16,134,42);
}

#Mobile, .mobileExamples {
    color: #0a29b3;
}