html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;                
    background-color: bisque;
}

table {
    width: 80%;
    margin: auto;
}

th {
    text-align: left;
}

a {
    text-decoration: none;
}

img {
    border: 1px solid #424242;
    width: 100px;
    height: 100px;
}

.tableArticle {
    width: 100%;
}

.tableArticle tr td:first-child {
    text-align: right;
}

/* pseudo */
a:link {
    color:red;
}

a:visited {
    color: brown;
}

a:hover {
    color:blue;
}
