html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;                
    background-color: bisque;
}

a {
    text-decoration: none;
}

a:link {
    color:red;
}

a:visited {
    color: brown;
}

a:hover {
    color:blue;
}

.nav {
    text-align: center;
}

.nav li {
    width: 20%;
    font-weight: bold;
    display: inline-block;
}

.header, .main, .footer {
    width: 80%;
    margin: auto;
}

.article li {
    list-style-type: none;
}

.article p {
    margin-top: 0;
    text-align: justify;
}

.article img {
    width: 100px;
}

.articleImage {
    width: 20%;
    text-align: left;
    overflow: hidden;
    display: inline-block;
}

.articleContent {
    width: 75%;
    vertical-align: top;
    overflow: hidden;
    display: inline-block;
}

.articleSubject {
    font-weight: bold;
}

.articleHighlight {
    font-style: italic;
    text-decoration: underline;
}

.footer {
    font-size: small;
    font-style: italic;
    text-align: center;
}