/** Import **/
@import url(author-reset.css);
@import url(author-clearfix.css);
@import url(user-global.css);


/** Style **/
header {
    border-top: 5px solid salmon;
    margin-top: 36px;
}

main {
    padding: 10px;
    overflow: hidden;
}

content {
    display: grid;
    grid-template-columns: .5fr 1.5fr;
    gap: 5px;
}

content div {        
    padding: 5px 0;
}

content input:required {
    background-color: salmon;
}

content input:focus, content textarea:focus {
    color: #f0f0f0;
    background-color: rgba(60, 45, 45, .8);
}

content button {
    width: 30%;
    font-size: 1.2rem;
    border-radius: 12px;
}

content button:hover {
    color: #f0f0f0;
    background-color: rgba(60, 45, 45, .8);
    font-weight: bold;
}

.contact-admin {
    background-color: burlywood;
    width: 40px;
    height: 40px;
    font-size: 1.2rem;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    border: 2px solid tomato;
    box-shadow: 4px 4px 4px rgba(60, 45, 45, .8);
    position: absolute;
    top: -20px;
    right: 10px;    
}

footer {
    position: relative;
}