/** Import **/
@import url(author-reset.css);
@import url(author-clearfix.css);
@import url(user-global.css);


/** Style **/
.header {
    border-top: 5px solid salmon;
    margin-top: 36px;
}

.main {
    padding: 10px;
    overflow: hidden;
}

.main td {
    padding: 10px;
}   

.main input:required {
    background-color: salmon;
}

.main input:focus, .main textarea:focus {
    color: #f0f0f0;
    background-color: rgba(60, 45, 45, .8);
}

.main button {
    width: 30%;
    font-weight: bold;
    border-radius: 10px;
}

.main button:hover {
    color: #f0f0f0;
    background-color: rgba(60, 45, 45, .8);
}