html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;                
    background-color: bisque;
}

a {
    text-decoration: none;
}

a:link {
    color:red;
}

a:visited {
    color: brown;
}

a:hover {
    color:blue;
}

.nav {
    text-align: center;
}

.nav li {
    width: 20%;
    font-weight: bold;
    display: inline-block;
}

.header, .main, .footer {
    width: 80%;
    margin: auto;
}

.content p {
    text-align: justify;
}

.content span {
    font-size: smaller;
}

.footer {
    font-size: small;
    font-style: italic;
    text-align: center;
}

#desktop, #desktopExamples {
    color: darkred;
}

#web, #webExamples {
    color:rgb(16,134,42);
}

#mobile, #mobileExamples {
    color: #0a29b3;
}