html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;                
    background-color: bisque;
}

a {
    text-decoration: none;
}

a:link {
    color:red;
}

a:visited {
    color: brown;
}

a:hover {
    color:blue;
}

.navigation {
    height: 30px;
    text-align: center;
}

.navigation li {
    width: 100px;
    font-weight: bold;
    display: inline-block;
}

.content p {
    text-align: justify;
}

.footer {
    font-size: small;
    font-style: italic;
    text-align: center;
}

#Desktop, .desktopExamples {
    color: darkred;
}

#Web, .webExamples {
    color:rgb(16,134,42);
}

#Mobile, .mobileExamples {
    color: #0a29b3;
}