html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;                
    background-color: bisque;
}

table {
    width: 80%;
    margin: auto;
}

th {
    text-align: left;
}

a {
    text-decoration: none;
}

p {
    text-align: justify;
}

#Desktop, .desktopExamples {
    color: darkred;
}

#Web, .webExamples {
    color:rgb(16,134,42);
}

#Mobile, .mobileExamples {
    color: #0a29b3;
}

/* pseudo */
a:link {
    color:red;
}

a:visited {
    color: brown;
}

a:hover {
    color:blue;
}
