html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;                
    background-color: bisque;
}

a {
    text-decoration: none;
}

a:link {
    color:red;
}

a:visited {
    color: brown;
}

a:hover {
    color:blue;
}

table {
    width: 80%;
    border: 1px solid #4d4b4b;
}

th {
    text-align: left;
    background-color: thistle;
}

tr:nth-child(2n) {
    background-color: floralwhite;
}

tr:nth-child(2n+1) {
    background-color: gainsboro;
}

td {
    vertical-align: top;
}

.navigation {
    height: 30px;
    text-align: center;
}

.navigation li {
    width: 100px;
    font-weight: bold;
    display: inline-block;
}

.footer {
    font-size: small;
    font-style: italic;
    text-align: center;
}