html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;                
    background-color: bisque;
}

a {
    text-decoration: none;
}

a:link {
    color:red;
}

a:visited {
    color: brown;
}

a:hover {
    color:blue;
}

.nav {
    text-align: center;
}

.nav li {
    width: 20%;
    font-weight: bold;
    display: inline-block;
}

.header, .main, .footer {
    width: 80%;
    margin: auto;
}

.data table {
    width: 100%;
    border: 1px solid #4d4b4b;
}

.data th {
    text-align: left;
    background-color: thistle;
    border-bottom: 1px solid #4d4b4b;
}

.data tr:nth-child(2n) {
    background-color: floralwhite;
}

.data tr:nth-child(2n+1) {
    background-color: gainsboro;
}

.data td {
    vertical-align: top;
    border-bottom: 1px solid #4d4b4b;
}

.data td a {
    font-style: italic;
}

.footer {
    font-size: small;
    font-style: italic;
    text-align: center;
}