/** Import **/
@import url(author-reset.css);
@import url(author-clearfix.css);
@import url(user-global.css);


/** Style **/
header {
    border-top: 5px solid salmon;
    margin-top: 36px;
}

main {
    padding: 10px;
    overflow: hidden;
}

main table {
    width: 100%;
    border: 1px solid rgb(60, 45, 45);
}

main th {
    padding: 10px;
    text-align: left;
    color: #f0f0f0;
    font-weight: bold;
    background-color: rgb(100, 150, 180);
    border-bottom: 1px solid rgb(60, 45, 45);
}

main tr:nth-child(2n) {
    background-color: floralwhite;
}

main tr:nth-child(2n+1) {
    background-color: gainsboro;
}

main tr:hover {
    background-color: rgba(60, 45, 45, .8);
}

main td {
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid rgb(60, 45, 45);
}

main td a {
    font-style: italic;
}