html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;                
    background-color: rgb(180,180,180);
}

table {
    width: 80%;
    margin: auto;
}

img {                
    width: 100px;
    height: 100px;
    border: 1px dashed;
}

/* pseudo */
a:link {
    color:red;
}

a:visited {
    color: brown;
}

a:hover {
    color:blue;
}
