/** Animation **/
@keyframes animScreen {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(20vw, 0);
    }

    100% {
        transform: translate(20vw, 20vw);
    }
}

.container {
    width: 40vw;
    height: 40vw;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    position: relative;
}

.container div {
    text-align: center;
    line-height: 10vw;
}

.container div.white {
    background-color: #ddd;
    color: #0a0a0a;
}

.container div.black {
    background-color: #0a0a0a;
    color: #ddd;
}

.object {
    top: 1vw;
    left: 1vw;
    width: 8vw;
    height: 8vw;
    background-color: rgb(92, 33, 9);
    position:absolute;
    filter: opacity(.5) drop-shadow(0 0 5px rgba(241, 245, 8, 0.8));
}

.object:hover {
    animation-name: animScreen;
    animation-fill-mode: forwards ;
    animation-timing-function:ease-in;
    animation-duration: 2s;
}

/* .responsive {
    width: 50%;
    height: 100px;
    background-color: burlywood;
    border: 1px solid black;
} */


/* Use a media query to add a breakpoint */
@media (max-width: 400px) {
    .container {
        width: 80vw;
        height: 80vw;
    }

    .object {
        width: 16vw;
        height: 16vw;
    }
}