/** Import **/
@import url(author-reset.css);
@import url(author-clearfix.css);
@import url(user-global.css);


/** Font-face **/
@font-face {
    font-family: 'Fira Sans';
    src: url('../font/FiraSans-Regular.otf') format('truetype');
}


/** Style **/
header {
    border-top: 5px solid salmon;
    margin-top: 36px;
}

main {
    padding: 0 10px;
    overflow: hidden;
}

main li {
    margin: 10px 0 10px 40px;
}

content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

article {
    width: 200px;
    padding: 10px;
    margin: 5px;
    overflow: hidden;
    font-size: .8rem;
}

article img {
    width: 100px;
    height: 100px;
    margin: 0 20px 20px 0;
    border-radius: 15%;
    transition: 1s;
}

article img:hover {
    transform: translate(50px);
    filter: drop-shadow(5px 5px 5px rgba(60, 45, 45, .8));
}

article p {
    font-family: 'Fira Sans', arial;    
    font-size: 1rem;
    margin-bottom: 10px;
    line-height: normal;
}

.articleHighlight {
    font-style: italic;
    text-decoration: underline;
}

@media (max-width: 600px) {
    .container {
        width: 50%;
    }
}