/** Import **/
@import url(author-reset.css);
@import url(author-clearfix.css);


/** Font-face **/
@font-face {
  font-family: 'Fira Sans';
  src: url('../font/FiraSans-Regular.otf') format('truetype');
}


/** Style **/
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;                
  background-image: linear-gradient(90deg,rgb(60, 45, 45),gray);
}

nav {
  background-color:rgb(60, 45, 45);
  text-align: center;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  opacity: .8;
}

nav li {
  margin-right: 5px;
  display: inline-block;
}

nav a {
  color: salmon;
  text-decoration: none;
  padding: 5px;
}

nav a:hover {
  color: #f0f0f0;
  background-color: rgb(100, 150, 180);
}

footer {    
  background-color: rgba(60, 45, 45, .8);
  padding: 10px 0;
  text-align: center;
}

.container {
  width: 80%;
  margin: auto;
  background-color: #f0f0f0;
}

.copyright {
  color: #f0f0f0;
  font-size: 12px;
  font-style: italic;
}

header {
  border-top: 5px solid salmon;
  margin-top: 36px;
}

main {
  padding: 0 10px;
  overflow: hidden;
}

main li {
  margin: 10px 0 10px 40px;
}

content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

article {
  width: 200px;
  padding: 10px;
  margin: 5px;
  overflow: hidden;
  font-size: .8rem;
}

article img {
  width: 100px;
  height: 100px;
  margin: 0 20px 20px 0;
  border-radius: 15%;
  transition: 1s;
}

article img:hover {
  transform: translate(50px);
  filter: drop-shadow(5px 5px 5px rgba(60, 45, 45, .8));
}

article p {
  font-family: 'Fira Sans', arial;    
  font-size: 1rem;
  margin-bottom: 10px;
  line-height: normal;
}

.articleHighlight {
  font-style: italic;
  text-decoration: underline;
}

@media (max-width: 600px) {
  .container {
    width: 50%;
  }
}