* {
  margin: 0;
  padding: 0;
}

body {
  background-color: lightgrey;
  text-align: center;
}

header {
  margin: 20px auto;
}

.container {
  /* border: 2px solid grey; */
  width: 300px;
  margin: 20px auto;
  border-radius: 5px;
  box-sizing: border-box;
}

.cell-area {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 10px;
  width: 225px;
  margin: auto;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.cell {
  width: 75px;
  height: 75px;
  /* border: 2px solid black; */
  border-radius: 5px;
  box-shadow: 0 0 1px 2px;
  line-height: 75px;
  font-size: 50px;
  cursor: pointer;
}

.info-area {
  margin: 10px;
  font-size: 1.5rem;
}

#restart {
  margin: 10px;
  padding: 10px;
  cursor: pointer;
}