* {
    margin: 0;
    padding: 0;
}

body {
    background-color: lightgrey;
    text-align: center;
}

header {
    margin: 20px auto;
}

.container {
    border: 2px solid grey;
    width: 300px;
    margin: 20px auto;
    border-radius: 5px;
}

.clock-area {
    background-color: tomato;
}

.clock-area p {
    color: white;
    font-size: 1.5rem;
    padding: 20px 0;
}

.timer-area {
    background-color: skyblue;
}

.timer-area input {
    color: white;
    border: none;
    width: 80px;
    font-size: 1.2rem;
    margin: 10px 0;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
}

.timer-area p {
    font-size: 2.5rem;
    padding: 5px 0;
}

#timer-start {
    background-color: green;
}

#timer-stop {
    background-color: red;
}

#timer-reset {
    background-color: blue;
}