* {
  margin: 0;
  padding: 0;
}

body {
  background-color: lightgrey;
  text-align: center;
}

header {
  margin: 20px auto;
}

.container {
  border: 2px solid grey;
  width: 300px;
  margin: 20px auto;
  border-radius: 5px;
}

.clock-area {
  background-color: rgb(245, 100, 75);
}

.clock-area p {
  color: white;
  font-size: 1.5rem;
  padding: 20px 0;
  text-shadow: 1px 2px 4px black;
}

.countdown-area {
  background-color: rgb(90, 139, 90);
}

.countdown-area input {
  margin: 10px 0;
  font-size: 1rem;
  cursor: pointer;
}

.countdown-area p {
  color: white;
  font-size: 1rem;
  padding: 10px 0;
  text-shadow: 1px 4px 4px black;
}

#countdown-start, #countdown-stop {
  width: 20px;
  font-size: 1rem;
}

.stopwatch-area {
  background-color: rgb(31, 149, 196);
}

.stopwatch-area input {
  color: white;
  border: none;
  width: 80px;
  font-size: 1.2rem;
  margin: 10px 0;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
}

.stopwatch-area p {
  color: white;
  font-size: 2.5rem;
  padding: 5px 0;
  text-shadow: 1px 1px 2px black;
}

#stopwatch-start {
  background-color: green;
}

#stopwatch-stop {
  background-color: red;
}

#stopwatch-reset {
  background-color: blue;
}