hr {
  display: inline-block;
  border: none;
  height: 4px;
  width: 200px;
  background-color: #626262;
}

section {
  padding-top: 5rem;
}

.jumbotron {
  background: linear-gradient(180deg, hsl(40, 72%, 68%), hsl(210, 100%, 75%));
  /* background-image: url('img/landing-hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
}

.jumbotron h1 {
  color: hsla(60, 39%, 40%, 0.7);;
  text-shadow: 2px 2px 2px rgba(55, 55, 55, 0.7);
}

.about {
  background: linear-gradient(180deg, hsl(210, 100%, 75%), hsla(0, 1%, 83%, 0.7));
}

.portfolio {
  background: linear-gradient(180deg, hsla(0, 1%, 83%, 0.7), #fff);
}

.portfolio div.card {
  cursor: pointer;
  box-shadow: 2px 2px 2px rgba(70, 70, 70, .5);
}

.portfolio div.card.card-hero {
  border: 6px solid hsla(60, 39%, 40%, 0.7);
}

.portfolio div.card.card-hero h5 {
  color: hsla(60, 39%, 40%, 0.9);  
}

.testimonial {
  background: linear-gradient(180deg, #fff, hsla(60, 39%, 40%, 0.5));
}

.testimonial div.rating {
  color: hsla(60, 64%, 55%, 0.8);
}

.contact {
  background: linear-gradient(180deg, hsla(60, 39%, 40%, 0.5), hsla(210, 11%, 71%, 0.5));
}

footer {
  background: linear-gradient(180deg, hsla(210, 11%, 71%, 0.5), hsla(0, 3%, 24%, 0.5));
  text-shadow: 1px 1px 2px rgba(70, 70, 70, .5);
}